.navBar {
  height: 5rem;
  background: darkgreen;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  &-button {
    width: 100%;
    text-decoration: none;
    color: white;
    border: 0.1rem solid darkgreen;
    &:hover {
      background: grey;
    }
  }
}
.active {
  background: white;
  color: black;
}
